@import "tailwindcss";

@theme {
  --font-custom: "Russo One", sans-serif;
  --color-snow-white: #FFFAFA;
  --color-secondary-green: #34d399;
  --color-deepskyblue: #00bfff;
  --color-charcoal: #262B30;
}
